<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Books</title>
</head>
<body>
    <section>
        <h3>Add Book:</h3>
        <form action="/Books/<%= folder_id %>" method="post">
            <label for="title">
                <input type="text" name="Title" id="title" placeholder="Book Title">
            </label>
            <br>
            <label for="fileLink">
                <input type="text" name="FileLink" id="fileLink" placeholder="file link">
            </label>
            <br>
            Select Privacy:
            <label>
                <input type="radio" name="Privacy" value="private">
                Private
            </label>
            <label>
                <input type="radio" name="Privacy" value="public">
                Public
            </label>
            <br>
            <button>Add Book</button>
    </section>
</body>
</html>