<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="stylesheet/pomodoro.css">
</head>
<body>
    <div id="timer-popup" class="popup">
        <div class="inputs">
            <input type="number" id="hours" placeholder="Hours" min="0">
            <input type="number" id="minutes" placeholder="Minutes" min="0">
            <input type="number" id="seconds" placeholder="Seconds" min="0" max="59">
            <button id="set-time" class="button">Set Time</button>
        </div>
        <div id="timer-display" class="timer">00:00:00</div>
        <div class="controls">
            <button id="start-stop" class="button" disabled>Start</button>
            <button id="reset" class="button" disabled>Reset</button>
        </div>
    </div>

    <script src="javascript/pomodoro.js"></script>
    
    
</body>
</html>
